<link rel="stylesheet" href="/assets/css/about.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/funding.css" type="text/css" />

<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center header">
        <h1>About</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 about">
        <p>I wanted to create something that would provide people with a quote from Jordan Peterson
          per day. The reason was so that it would allow for a means for self-reflection and
          conversation. As I was building this, a quote appeared while I was testing. It said,</p>

        <blockquote class="text-center" id="quote"> <i>"When you have something to say, silence is a
            lie."</i></blockquote>

        <p> When I read that, it caused me to stop and take a scalpel to myself. I realized that I
          had things to say that I wasn't saying. Things that I should have said in my friendships,
          my marriage, and my work. I did not speak up, and I reasoned that it was better to keep
          quiet to stay safe and keep the peace. I was lying to myself and others. I was a coward.
        </p>

        <p>At the end of the self-reflection, I knew why I was building this. I was making this so
          that people can have a chance to read a thought-provoking quote and use it as a
          springboard to help approve their lives.</p>

        <p>I would like to make this site an ongoing project and add more features. Please
          considering supporting this project by using the links on the top right!</p>

      </div>
    </div>
  </div>
