 <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center header">
        <h1>Jordan Peterson Quote A Day <sup><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
              stroke-linecap="round" stroke-linejoin="round" class="info-icon" id="insights"
              data-toggle="tooltip" data-placement="top" title="Quote updated 8:00 AM EST">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="16" x2="12" y2="12"></line>
              <line x1="12" y1="8" x2="12" y2="8"></line>
            </svg></sup></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center" id="quote-box">

      </div>
    </div>
  </div>

  <script src="assets/js/add_quote.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

  </script>
