#quote-box {
  width: 120px;
  height: 200%;
  background-color: #F5F5F5;
  padding: 10px 20px;
  font-size: 20px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
